In [1]:
import pandas as pd

df1 = pd.DataFrame({'id':[1,2], 'A':[10,20]})
df2 = pd.DataFrame({'id':[3,4], 'A':[30,40]})

v = pd.concat([df1, df2], axis=0, ignore_index=True)
h = pd.concat([df1, df2], axis=1)
k = pd.concat([df1, df2], keys=['x','y'])

print("Vertical concat:\n", v)
print("\nHorizontal concat:\n", h)
print("\nConcat with keys:\n", k)

Vertical concat:
    id   A
0   1  10
1   2  20
2   3  30
3   4  40

Horizontal concat:
    id   A  id   A
0   1  10   3  30
1   2  20   4  40

Concat with keys:
      id   A
x 0   1  10
  1   2  20
y 0   3  30
  1   4  40

In [10]:
import pandas as pd

# Sample DataFrames
left = pd.DataFrame({'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie']})
right = pd.DataFrame({'id': [2, 3, 4], 'score': [85, 92, 78]})

print("Left DataFrame:")
print(left, "\n")

print("Right DataFrame:")
print(right, "\n")

# --- Inner join ---
inner = pd.merge(left, right, on='id', how='inner')
print("Inner join (only common ids):\n", inner, "\n")

# --- Left join ---
left_join = pd.merge(left, right, on='id', how='left')
print("Left join (all from left, match from right):\n", left_join, "\n")

# --- Right join ---
right_join = pd.merge(left, right, on='id', how='right')
print("Right join (all from right, match from left):\n", right_join, "\n")

# --- Outer join ---
outer = pd.merge(left, right, on='id', how='outer')
print("Outer join (all ids from both sides):\n", outer, "\n")

# --- Example with overlapping column names ---
left2 = pd.DataFrame({'id': [1, 2], 'value': ['X', 'Y']})
right2 = pd.DataFrame({'id': [2, 3], 'value': ['Z', 'W']})

overlap = pd.merge(left2, right2, on='id', how='outer', suffixes=('_left', '_right'))
print("Outer join with overlapping column names:\n", overlap)

Left DataFrame:
   id     name
0   1    Alice
1   2      Bob
2   3  Charlie

Right DataFrame:
   id  score
0   2     85
1   3     92
2   4     78

Inner join (only common ids):
    id     name  score
0   2      Bob     85
1   3  Charlie     92

Left join (all from left, match from right):
    id     name  score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   92.0

Right join (all from right, match from left):
    id     name  score
0   2      Bob     85
1   3  Charlie     92
2   4      NaN     78

Outer join (all ids from both sides):
    id     name  score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   92.0
3   4      NaN   78.0

Outer join with overlapping column names:
    id value_left value_right
0   1          X         NaN
1   2          Y           Z
2   3        NaN           W

In [3]:
L = pd.DataFrame({'key':[1,2,3], 'Lval':['a','b','c']})
R = pd.DataFrame({'key':[2,3,4], 'Rval':[10,20,30]})

for how in ['inner','left','right','outer']:
    print(f"{how} join:")
    print(pd.merge(L, R, on='key', how=how), "\n")

inner join:
   key Lval  Rval
0    2    b    10
1    3    c    20

left join:
   key Lval  Rval
0    1    a   NaN
1    2    b  10.0
2    3    c  20.0

right join:
   key Lval  Rval
0    2    b    10
1    3    c    20
2    4  NaN    30

outer join:
   key Lval  Rval
0    1    a   NaN
1    2    b  10.0
2    3    c  20.0
3    4  NaN  30.0

In [4]:
import pandas as pd

# Create sample DataFrames with indexes
left = pd.DataFrame({'Lval': [1, 2]}, index=['a', 'b'])
right = pd.DataFrame({'Rval': [10, 20]}, index=['b', 'a'])

print("Left DataFrame:")
print(left, "\n")

print("Right DataFrame:")
print(right, "\n")

# --- Using join() ---
print("Join using .join() with outer join:")
print(left.join(right, how='outer'), "\n")

# --- Using pd.merge() with index ---
print("Merge using pd.merge() with indexes (outer join):")
print(pd.merge(left, right, left_index=True, right_index=True, how='outer'))

Left DataFrame:
   Lval
a     1
b     2

Right DataFrame:
   Rval
b    10
a    20

Join using .join() with outer join:
   Lval  Rval
a     1    20
b     2    10

Merge using pd.merge() with indexes (outer join):
   Lval  Rval
a     1    20
b     2    10

In [5]:
wide = pd.DataFrame({
    'id':[1,2],
    'sales_2019':[100,150],
    'sales_2020':[120,160]
})
long = pd.melt(wide, id_vars=['id'], var_name='year', value_name='sales')
print(long)

   id        year  sales
0   1  sales_2019    100
1   2  sales_2019    150
2   1  sales_2020    120
3   2  sales_2020    160

In [6]:
wide = pd.DataFrame({
    'id':[1,2],
    'sales_2019':[100,150],
    'sales_2020':[120,160]
})
long = pd.melt(wide, id_vars=['id'], var_name='year', value_name='sales')
print(long)

   id        year  sales
0   1  sales_2019    100
1   2  sales_2019    150
2   1  sales_2020    120
3   2  sales_2020    160

In [ ]:
import pandas as pd
# Wide format DataFrame
wide = pd.DataFrame({
    'id': [1, 2],
    'sales_2019': [100, 150],
    'sales_2020': [120, 160]
})
print("Wide format DataFrame:")
print(wide, "\n")

# --- Melt: wide -> long ---
long = pd.melt(
    wide,
    id_vars=['id'],            # columns to keep fixed
    var_name='year',           # new column for former headers
    value_name='sales'         # new column for values
)
print("Long format (after melt):")
print(long, "\n")

# --- Pivot: long -> wide ---
pivoted = long.pivot(
    index='id',                # unique identifier
    columns='year',            # new headers
    values='sales'             # values to fill
)
print("Wide format (after pivot):")
print(pivoted, "\n")

# --- Pivot Table (handles duplicates with aggregation) ---
# Example with duplicate entries
long_with_dupes = pd.DataFrame({
    'id': [1, 1, 2, 2],
    'year': ['sales_2019', 'sales_2019', 'sales_2020', 'sales_2020'],
    'sales': [100, 120, 150, 160]
})

pivot_tabled = pd.pivot_table(
    long_with_dupes,
    index='id',
    columns='year',
    values='sales',
    aggfunc='mean'   # handles duplicates with aggregation
)

print("Pivot table (with aggregation):")
print(pivot_tabled)

Wide format DataFrame:
   id  sales_2019  sales_2020
0   1         100         120
1   2         150         160

Long format (after melt):
   id        year  sales
0   1  sales_2019    100
1   2  sales_2019    150
2   1  sales_2020    120
3   2  sales_2020    160

Wide format (after pivot):
year  sales_2019  sales_2020
id
1            100         120
2            150         160

Pivot table (with aggregation):
year  sales_2019  sales_2020
id
1          110.0         NaN
2            NaN       155.0

In [11]:
df = pd.DataFrame({
    'region':['East','East','West','West'],
    'product':['A','B','A','B'],
    'sales':[100,200,150,120]
})
pt = pd.pivot_table(df, values='sales', index='region', columns='product', aggfunc='sum')
ct = pd.crosstab(df['region'], df['product'])
print(pt)
print(ct)

product    A    B
region
East     100  200
West     150  120
product  A  B
region
East     1  1
West     1  1

In [15]:
import pandas as pd
df = pd.DataFrame({
    'city': ['X', 'X', 'Y', 'Y'],
    'year': [2019, 2020, 2019, 2020],
    'value': [100, 150, 200, 250]
})
print("Original DataFrame:")
print(df, "\n")

wide = df.pivot(index='city', columns='year', values='value')
print("Wide format (pivoted):")
print(wide, "\n")

# --- Stack: columns → row index (long format) ---
stacked = wide.stack()
print("Stacked (columns turned into row index):")
print(stacked, "\n")

# --- Unstack: row index → columns ---
unstacked = stacked.unstack()
print("Unstacked (row index level back to columns):")
print(unstacked)

Original DataFrame:
  city  year  value
0    X  2019    100
1    X  2020    150
2    Y  2019    200
3    Y  2020    250

Wide format (pivoted):
year  2019  2020
city
X      100   150
Y      200   250

Stacked (columns turned into row index):
city  year
X     2019    100
      2020    150
Y     2019    200
      2020    250
dtype: int64

Unstacked (row index level back to columns):
year  2019  2020
city
X      100   150
Y      200   250

In [16]:
import pandas as pd

# --- Wide format DataFrame ---
wide = pd.DataFrame({'person': ['Alice', 'Bob'], 'height_cm': [165, 180], 'weight_kg': [60, 80]})
print("Wide format DataFrame:")
print(wide, "\n")

# --- Convert wide → long using melt ---
long = pd.melt(
    wide,
    id_vars=['person'],        # column(s) to keep
    var_name='measure',        # new column for former headers
    value_name='value'         # new column for values
)
print("Long format (after melt):")
print(long, "\n")

# --- Convert long → wide using pivot ---
wide_again = long.pivot(
    index='person',            # identifier column
    columns='measure',         # former variable column becomes headers
    values='value'             # values to fill
).reset_index()                # optional: reset index to make 'person' a column again

print("Wide format (after pivot):")
print(wide_again)

Wide format DataFrame:
  person  height_cm  weight_kg
0  Alice        165         60
1    Bob        180         80

Long format (after melt):
  person    measure  value
0  Alice  height_cm    165
1    Bob  height_cm    180
2  Alice  weight_kg     60
3    Bob  weight_kg     80

Wide format (after pivot):
measure person  height_cm  weight_kg
0        Alice        165         60
1          Bob        180         80

In [17]:
import pandas as pd
# Sample DataFrame with list and dictionary columns
df = pd.DataFrame({
    'id': [1, 2],
    'tags': [['red', 'blue'], ['green']],
    'info': [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]
})
print("Original DataFrame:")
print(df, "\n")

# --- Explode: expand list-like column into separate rows ---
exploded = df.explode('tags').reset_index(drop=True)
print("After exploding 'tags' column:")
print(exploded, "\n")

# --- Flatten dictionary-like column using json_normalize ---
info_flat = pd.json_normalize(df['info'])
df_flattened = pd.concat([df.drop(columns=['info']), info_flat], axis=1)
print("After flattening 'info' column with json_normalize:")
print(df_flattened)

Original DataFrame:
   id         tags              info
0   1  [red, blue]  {'a': 1, 'b': 2}
1   2      [green]  {'a': 3, 'b': 4}

After exploding 'tags' column:
   id   tags              info
0   1    red  {'a': 1, 'b': 2}
1   1   blue  {'a': 1, 'b': 2}
2   2  green  {'a': 3, 'b': 4}

After flattening 'info' column with json_normalize:
   id         tags  a  b
0   1  [red, blue]  1  2
1   2      [green]  3  4