In [4]:
import pandas as pd

# Sample DataFrame with string dates
data = {
    'Event': ['A', 'B', 'C', 'D'],
    'Date': ['2025-01-10', '2025/02/15', 'March 20, 2025', '2025-04-25 14:30']
}

df = pd.DataFrame(data)
# Convert Date column to datetime (mixed formats)
df['Date'] = pd.to_datetime(df['Date'], format='mixed', errors='raise')
print(df)

  Event                Date
0     A 2025-01-10 00:00:00
1     B 2025-02-15 00:00:00
2     C 2025-03-20 00:00:00
3     D 2025-04-25 14:30:00

In [6]:
date_rng = pd.date_range(start='2025-01-01', end='2025-01-10', freq='D')
ts_data = pd.DataFrame({'Date': date_rng, 'Sales': [100, 120, 130, 90, 150, 160, 170, 180, 200, 210]})
ts_data.set_index('Date', inplace=True)
print(ts_data)

            Sales
Date
2025-01-01    100
2025-01-02    120
2025-01-03    130
2025-01-04     90
2025-01-05    150
2025-01-06    160
2025-01-07    170
2025-01-08    180
2025-01-09    200
2025-01-10    210

In [7]:
# Shift sales forward by 1 day
ts_data['Sales_Lag1'] = ts_data['Sales'].shift(1)
print(ts_data)

            Sales  Sales_Lag1
Date
2025-01-01    100         NaN
2025-01-02    120       100.0
2025-01-03    130       120.0
2025-01-04     90       130.0
2025-01-05    150        90.0
2025-01-06    160       150.0
2025-01-07    170       160.0
2025-01-08    180       170.0
2025-01-09    200       180.0
2025-01-10    210       200.0

In [8]:
# Create monthly period range
periods = pd.period_range(start='2025-01', end='2025-06', freq='M')
print(periods)

# Custom offset: every 2 days
custom_range = pd.date_range(start='2025-01-01', periods=5, freq='2D')
print(custom_range)

PeriodIndex(['2025-01', '2025-02', '2025-03', '2025-04', '2025-05', '2025-06'], dtype='period[M]')
DatetimeIndex(['2025-01-01', '2025-01-03', '2025-01-05', '2025-01-07',
               '2025-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [9]:
# Sample naive datetime
ts = pd.Series(pd.date_range('2025-01-01 08:00', periods=3, freq='D'))
print("Naive datetime:\n", ts)

# Localize to UTC
ts_utc = ts.dt.tz_localize('UTC')
print("\nUTC datetime:\n", ts_utc)

# Convert to US/Eastern
ts_est = ts_utc.dt.tz_convert('US/Eastern')
print("\nUS/Eastern datetime:\n", ts_est)

Naive datetime:
 0   2025-01-01 08:00:00
1   2025-01-02 08:00:00
2   2025-01-03 08:00:00
dtype: datetime64[ns]

UTC datetime:
 0   2025-01-01 08:00:00+00:00
1   2025-01-02 08:00:00+00:00
2   2025-01-03 08:00:00+00:00
dtype: datetime64[ns, UTC]

US/Eastern datetime:
 0   2025-01-01 03:00:00-05:00
1   2025-01-02 03:00:00-05:00
2   2025-01-03 03:00:00-05:00
dtype: datetime64[ns, US/Eastern]